#register-confirm {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#register-confirm .body {
    width: 100%;
    max-width: 1500px;

    padding: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#register-confirm .body .content {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 50px;
}

#register-confirm .body .content .title {
    color: black;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

#register-confirm .body .content .text {
    color: rgba(0, 0, 0, 1);
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    line-height: 28px;

    margin: 50px 0px 50px 0px;

    width: 60%;
}